[submodule "libraries/openxr"]
	path = libraries/openxr
	url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "libraries/webgpu"]
	path = libraries/webgpu
	url = https://github.com/upf-gti/WebGPU-distribution
[submodule "src/dawnxr"]
	path = src/dawnxr
	url = https://github.com/upf-gti/dawnxr
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/wgsl-reflect"]
	path = libraries/wgsl-reflect
	url = https://github.com/upf-gti/wgsl-reflect
