[submodule "libraries/openxr"]
	path = libraries/openxr
	url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "libraries/dawnxr"]
	path = libraries/dawnxr
	url = https://github.com/blitz-research/dawnxr
[submodule "libraries/webgpu"]
	path = libraries/webgpu
	url = https://github.com/upf-gti/WebGPU-distribution
