[submodule "libraries/openxr"]
	path = libraries/openxr
	url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "libraries/webgpu"]
	path = libraries/webgpu
	url = https://github.com/upf-gti/WebGPU-distribution
[submodule "src/dawnxr"]
	path = src/dawnxr
	url = https://github.com/upf-gti/dawnxr
